/* Creating own font-family-> Cause */
@font-face{
    font-family:"Cause";
    src:url('../Fonts/Cause/Cause-VariableFont_wght.ttf'),
    url('../Fonts/Cause/static/Cause-Bold.ttf'),
}

body{
    background-color:lightpink;
    font-family: 'Cause';
    border:10px solid white;
    font-size: 30px;
    /* width:fit-content; */
    /* padding:10px; */
    transition :background-color 2s,color 2s;
}


/* span is for title of webpage and also very important */
span.title{
    background-color: white;
    font-size:40px;
    font-weight:500;
    padding:10px;
    border-radius: 30px;
    position:relative;
    left:35vw;
    top:20px;
}
hr{
    height:10px;
    background-color: white;
}

/* HTML content :*/
div.welcome{
    font-family: 'Cause';
    background-color: white;
    border:2px solid black ;
    border-radius:12px;
    /* height:fit-content; */
    /* width:fit-content; */
    padding:5px;
    margin:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}


div.category{
    visibility:hidden;
    background-color:blueviolet;
    color:white;
    text-align:center;
    border:8px solid white;
    border-radius: 12px;
    margin:10px;
    padding:10px;
}
.flex_category{display:flex;
    justify-content: space-around;
}

.category_button{
    font-size:30px;
    font-family:"Cause";
    padding:5px;
    border-radius:12px;
    background-color: black;
    color:white;
}

/* To enhance the checkboxes */
div.flex_category input[type="checkbox"]{
    scale: 2;
    position:relative;
    bottom:2px;
    accent-color:red; /*Accent color is used to change color of interactive elements such as checkboxes,radio ,range ,etc*/
}
#get_started{
    font-size:40px;
    padding:5px;
    border-radius:5px;
    background-image:linear-gradient(to right,white 40%, lightpink 60%);
    color:black;
    border-right:18px ridge black;
    
}
a{
    background-color:black;
    padding:6px;
    border:3px solid white;
    border-radius:5px;
    color:white;
    text-decoration: none;
}

/* for going back to original Homepage */
#go_back{
    float:left;
    transition :background-color 2s,color 2s;
}
/* for the dark mode button encapsulating the checkbox too */
#dark_mode{
    float:right;
    position:relative;
    top:30px;
    margin:10px;
    font-size:30px;
    font-family:"Cause";
    padding:5px;
    border-radius:12px;
    background-color: black;
    color:white;
    transition :background-color 2s,color 2s;
}
/* for the dark mode checkbox */
#dark{
    scale:2;
    padding:15px;
    position:relative;
    bottom:3px;
    accent-color: blueviolet;
}

#add_new{
    transform: scale(4,4);
    position:relative;
    transform-origin:top left;
    top:6px;left:3px;
    background-color: lightpink;
    }

.lists{
    width:100%;
}
.reminder{
    background-color:lightpink;
    
    border:4px solid black;
    border-radius:10px;
    width:95%;
    padding:10px;
    margin:10px;
    align-items: center;
    justify-content: space-evenly;
}
#text_box{
    font-size: 40px;
    width:82%;
    border:4px solid black;    
    position:relative;
}
#icons{
    width: fit-content;
    display:inline;
    float:right;
    
}
#delete,#time{border:4px solid black;
transform: scale(0.750,0.750);
transform:translateY(-5px);
}






