/* Creating own font-family-> Cause */
@font-face{
    font-family:"Cause";
    src:url('../Fonts/Cause/Cause-VariableFont_wght.ttf'),
    url('../Fonts/Cause/static/Cause-Bold.ttf'),
}

body{
    background-color:lightpink;
    font-family: 'Cause';
    border:10px solid white;
    font-size: 30px;
    /* width:fit-content; */
    /* padding:10px; */
    transition :background-color 2s,color 2s;
}


/* span is for title of webpage and also very important */
span.title{
    background-color: white;
    font-size:40px;
    font-weight:500;
    padding:10px;
    border-radius: 30px;
    position:relative;
    left:26%;
    top:20px;
}
hr{
    height:10px;
    background-color: white;
}

/* HTML content :*/
div.welcome{
    font-family: 'Cause';
    background-color: white;
    border:2px solid black ;
    border-radius:12px;
    /* height:fit-content; */
    /* width:fit-content; */
    padding:5px;
    margin:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}


div.category{
    visibility:hidden;
    background-color:blueviolet;
    color:white;
    text-align:center;
    border:8px solid white;
    border-radius: 12px;
    margin:10px;
    padding:10px;
}
.flex_category{display:flex;
    justify-content: space-around;
}

.category_button{
    font-size:30px;
    font-family:"Cause";
    padding:5px;
    border-radius:12px;
    background-color: black;
    color:white;
}

/* To enhance the checkboxes */
div.flex_category input[type="checkbox"]{
    scale: 2;
    position:relative;
    bottom:2px;
    accent-color:red; /*Accent color is used to change color of interactive elements such as checkboxes,radio ,range ,etc*/
}
#get_started{
    font-size:40px;
    padding:5px;
    border-radius:5px;
    background-image:linear-gradient(to right,white 40%, lightpink 60%);
    color:black;
    border-right:18px ridge black;
    
}
a{
    background-color:black;
    padding:3px;
    border:3px solid lightpink;
    border-radius:5px;
    color:white;
    text-decoration: none;
    position:relative;
    top:10px;    
}

/* for going back to original Homepage */
#go_back{
    float:left;
    transition :background-color 2s,color 2s;
}
/* for the dark mode button encapsulating the checkbox too */
#dark_mode{
    float:right;
    position:relative;
    top:30px;
    margin:10px;
    font-size:30px;
    font-family:"Cause";
    padding:5px;
    border-radius:12px;
    background-color: black;
    color:white;
    transition :background-color 2s,color 2s;
}
/* for the dark mode checkbox */
#dark{
    scale:2;
    padding:15px;
    position:relative;
    bottom:3px;
    accent-color: blueviolet;
}

#add_new{
    transform: scale(4,4);
    position:relative;
    transform-origin:top left;
    top:6px;left:3px;
    background-color: lightpink;
    }

.lists{
    width:100%;
}
.reminder{
    background-color:lightpink;
    
    border:2px solid black;
    border-radius:10px;
    width:90%;
    padding:5px;
    margin:10px;
    align-items: center;
    justify-content: space-evenly;
}
#text_box{
    font-size: 30px;
    width:80%;
    border:2px solid black;    
    position:relative;
    border-radius:10px;
}
#icons{
    width: 10px;
    display:flex;
    float:right;
    transform:translate(-85px,5px);
}
#delete{
    border:2px solid black;
transform:translateY(-5px);
height:3em;
width:3em;
padding:4px;
}
img{
    height:2em;
width:2em;
cursor:pointer;
}





h2.title{
text-align:center;
display:inline;
background-color: white;
border: 3px solid gold;
border-radius: 12px;
text-decoration:bold;
margin:20px;
position:relative;
left:40%;
padding:10px;
top:20px;
}
div.login_container{
border-radius:10px;
background-color:white;
padding:5px;
width:60%;
position:relative;
left:20%;
border:5px solid gold;
}
h4.input_bio{
    text-align:center;
}
button#submit_register{
    scale:2;
    border-radius:10px;
    background-color:black;
    color:gold;
    position:relative;
    left:50%;
   

}
button#submit_login{
    scale:1.75;
    border-radius:10px;
    background-color:black;
    color:gold;
    position:relative;
    left:45%
}
#name ,#pass{
    font-size:20px;
}
